body{
    padding-top:50px;
}
.float-right{
    float:right;
}

.cf{
    clear:both;
}

.navbar {
    margin-bottom: 0px;
}

.ep-tab{
    display:none;
}
.ep-tab.active{
    display:block;
}

.padding-top-50{
    padding-top:50px;

}.padding-top-10{
    padding-top:10px;
}

 .padding-all-10{
     padding:10px;
 }